# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
.vscode
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

tools/script/output.sql

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
deployments/.DS_Store
internal/.DS_Store
pkg/.DS_Store
resources/.DS_Store

.env
.venv